/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .col {
        width: 90%
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    .col {
        width: 80%
    }
}

@media only screen and (min-width: 992px) {
    .col {
        width: 60%
    }
}

@media only screen and (min-width: 1024px) {
    .col {
        width: 40%
    }
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
}